.wrapper {
  display: grid;
  grid-template-columns: 325px 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.header {
  grid-column: span 2;
}

.container {
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 768px;
}

.homeContainer {
  text-align: center;
}

.main {
  padding-bottom: var(--pids-space--huge);
}

.hero {
  background: var(--pids-colors--primary);
  padding: calc(var(--pids-space--huge) * 2) 0;
  margin-bottom: var(--pids-space--huge);
}

.heroHome {
  text-align: center;
  background: white;
  border-bottom: 1px solid #eee;
}
