version: 2.1
orbs:
  node: circleci/node@1.1.6

references:
  container_config: &container_config
    docker:
      - image: circleci/node:10
    resource_class: small

  restore_cache: &restore_cache
    restore_cache:
      keys:
        - node-v1-{{ checksum "yarn.lock" }}
        - node-v1-

  install_deps: &install_deps
    run: yarn install --frozen-lockfile

jobs:
  lint:
    <<: *container_config
    steps:
      - checkout
      - *restore_cache
      - *install_deps
      - save_cache:
          key: node-v1-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          name: Lint
          command: yarn lint:js

  release:
    <<: *container_config
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run:
                name: Authenticate with Github
                command: |
                  git config user.email "$GITHUB_USER_EMAIL"
                  git config user.name "$GITHUB_USER_NAME"
            - add_ssh_keys:
                fingerprints:
                  - "e1:f9:a3:ef:8b:4e:41:80:5c:3e:1b:69:a8:94:6e:b0"
            - run: 
                name: Authenticate with NPM
                command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
            - run: 
                name: Lerna Bootstrap
                command: npx lerna bootstrap
            - run: 
                name: Release
                command: | 
                  if git log --max-count=1 --pretty=%s | grep -q "chore(release): Publish modules"; then
                    echo "Skip" && exit 0
                  else
                    yarn ci:release
                  fi

workflows:
    pids:
      jobs:
        - lint
        - release:
            filters:
              branches:
                only: "main"
            requires:
              - lint
