.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: white;
  border-bottom: 1px solid #eee;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.github > img {
  display: block;
}
