:root {
  --pids--heading--font-size--as--h1: var(--pids--font-size--huge);
  --pids--heading--font-size--as--h2: var(--pids--font-size--largest);
  --pids--heading--font-size--as--h3: var(--pids--font-size--large);
}

.heading {
  font-family: var(--pids--font-family--display, sans-serif);
  font-weight: var(--pids--font-weight--bold);
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0;
}

.h1 {
  font-size: var(--pids--heading--font-size--as--h1, 3rem);
}

.h2 {
  font-size: var(--pids--heading--font-size--as--h2, 2.5rem);
}

.h3 {
  font-size: var(--pids--heading--font-size--as--h3, 2rem);
}

